
<body>
    <%- partial("partial/_nav") %>
<div id="layout" class="pure-g">
<article class="pure-u-1">
<%- partial("partial/_brand") %>

<h2>The Book Group</h2>

<section>
  <p>
      Initiated in 2015, the book group meets off and on.  When we 
      hold the group, we usually meet approximately every other Sunday 
      from 3 to 4pm, at a convenient location not too far from our 4:30
      sitting location.
  </p>

  <p>
    Check this site and also our <a href="" target="_blank">Facebook Page</a> 
    for the next incarnation
    of the Group.  And feel free to suggest books!
  </p>

  <p>
    Previous books we have enjoyed include:
    <ul>
      <li> <a href="http://www.amazon.com/Diamond-Sutra-Transforming-Perceive-World/dp/0861711602/ref=sr_1_8?s=books&ie=UTF8&qid=1461341473&sr=1-8&keywords=diamond+sutra">The Diamond Sutra: Transforming the Way We Perceive the World</a>
      <li><i>How to Cook Your Life: From the Zen Kitchen to Enlightenment</i>, by Kosho Uchiyama Roshi, a translation and commentary on Eihei Dogen's classic <i>Instructions to the Tenzo;</i></li>
      <li><i>Hardcore Zen Strikes Again</i> by Brad Warner.
    </ul>
  </p>
    
    
    
</section>

<%- partial("partial/_footer") %>
</article>
</div>
</body>