
<body>
    <%- partial("partial/_nav") %>
<div id="layout" class="pure-g">
<article class="pure-u-1">
<%- partial("partial/_brand") %>

<h2>Supporting the Center</h2>

<section>
  <p>
    We welcome donations to support our work.  We can maintain our current levels of activity if regular participants contribute $20 per month.  Contributions can be left in the donation box that is set out at every meditation service.  Checks should be made out to the Lexington Zen Center, Inc.  Cash donations may also be placed in the box.
  </p>

  <p>
    Donations may also be mailed to:
    <blockquote>
        Lexington Zen Center<br>
        c/o Homer White<br>
        198 Hiawatha Trail<br>
        Georgetown, KY 40324
    </blockquote>
  </p>
  <p>
      The Lexington Zen Center is a 501c(3) non-profit organization, so your contributions are tax-deductible.
  </p>
    
    
</section>

<%- partial("partial/_footer") %>
</article>
</div>
</body>