
<body>
    <%- partial("partial/_nav") %>
<div id="layout" class="pure-g">
<article class="pure-u-1">
<%- partial("partial/_brand") %>

<section>
    <h2>Our History</h2>

    <p>
        Coming soon.
    </p>

</section>





<%- partial("partial/_footer") %>
</article>
</div>
</body>