
<body>
    <%- partial("partial/_nav") %>
<div id="layout" class="pure-g">
<article class="pure-u-1">
<%- partial("partial/_brand") %>

<section>

    <h2>Meditation</h2>

<p><label for="mn-cushions-image" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-cushions-image" class="margin-toggle"/>
  <span class="marginnote"><img src="/images/cushions.jpeg" alt="Zen Master Dae Gak" /></span>
    Just prior to the service we arrange cushions according to the 
    number of people we think are likely to attend.  Newcomers are 
    welcomed and helped to find a comfortable seat.
</p>

<p>
    The service itself consists of two thirty-minute periods of still 
    and silent sitting separated by ten minutes of slow free-walking.  
    The first period commences with the lighting of candles before a 
    small statue of the Buddha; one person then chants a brief 
    invocation in Korean.  We then chant the Heart Sutra in English.  
    (For this many members use chant sheets that are placed under a 
    cushion.)  The sitting period then begins in earnest, although 
    if one of our teachers is present then there is likely to be a 
    Dharma talk that occupies most of this period.
</p>

<p>
    A bell is rung to signal the end of the sitting period, and the 
    altar candles are extinguished.  Most participants then rise for a 
    ten-minute walking period, aiming to carry their meditation into 
    their walking as much as possible.
</p>

<p>
    Two rings of the bell summon everyone back to their cushions, and 
    we enter the second sitting period.  The silence deepens and 
    becomes luminous.  At the end of this period the bell is rung three 
    times, and the service concludes with the chanting of the 
    Boddhisattva Vows.
</p>
<p>
    It is our custom to linger on our cushions for a few minutes 
    afterwards and engage in a go-around-the-circle, in which each 
    person says his or her name and (optionally) offers something 
    about how things have been going in the past week: with herself, 
    her family or the community she serves.  In this way we come, in 
    time, to know one another well and to hold each others concerns.
</p>


</section>





<%- partial("partial/_footer") %>
</article>
</div>
</body>