
<body>
    <%- partial("/partial/_nav") %>
<div id="layout" class="pure-g">
<article class="pure-u-1">
<%- partial("/partial/_brand") %>


<section>
    <h2>Thank You &hellip;</h2>
    <p>&hellip; for your email.  We'll get back to you soon!</p>
</section>

  <%- partial("partial/_footer.html") %>

</article>
</div>
</body>