
<footer class="page-footer<% if (current.source === "index"){%> split-page<% } %>">
		<hr class="footer-hr">
		<ul class="page-footer-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://www.facebook.com/lexingtonzencenter/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/lexingtonzen" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		</ul>

	<div class="copyright">
	<p>
    &copy; <%= new Date().getFullYear() %> Lexington Zen Center.
    All rights reserved.
  </p>
</div>
</footer>

<script src="/js/custom.js"></script>

